<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>594369531647-dmnhriqhdh66ahlr6lscm0ii10n72u8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594369531647-dmnhriqhdh66ahlr6lscm0ii10n72u8a</string>
	<key>API_KEY</key>
	<string>AIzaSyB7P09pkK_HzIkwfPsviyEZ2bv-gk_5LZk</string>
	<key>GCM_SENDER_ID</key>
	<string>594369531647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schuaman.GOChat</string>
	<key>PROJECT_ID</key>
	<string>gochat-8bd3b</string>
	<key>STORAGE_BUCKET</key>
	<string>gochat-8bd3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:594369531647:ios:22bada8a530777d7</string>
	<key>DATABASE_URL</key>
	<string>https://gochat-8bd3b.firebaseio.com</string>
</dict>
</plist>